<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yline.lib.sdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- log日志 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="24" />

    <application android:allowBackup="false" >

        <!-- 定时服务 -->
        <service android:name="com.yline.application.SDKService" >
        </service>
    </application>

</manifest>